{# src/View/home.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %} {{parent()}} - Acceuil{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to my website</p>
{% endblock %}