{# src/View/layout.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}MyWebsite{% endblock %} </title>

    <link rel="stylesheet" href="/assets/css/style.css"> 
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    {% block navbar %}
        {% include "navbar.html.twig" %}
    {% endblock %} 
    {% block content %}{% endblock %}
</body>
</html>